.dashboard-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #070e10, #00b2f8);
  padding: 2rem;
}

.dashboard-content {
  text-align: center;
  background-color: rgba(243, 243, 243, 0.95);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  max-width: 500px;
  width: 100%;
}

.birthday-img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.dashboard-content h2 {
  font-size: 2rem;
  font-style: oblique;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.dashboard-content p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.play-button {
  margin-top: 1.3rem;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to bottom right, #070e10, #01acf0);
  color: rgb(220, 220, 220);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background: linear-gradient(to bottom right, #0c0c0c, #023dff);
}

/* Responsividade */
@media (max-width: 480px) {
  .dashboard-content {
    padding: 1.5rem;
  }

  .dashboard-content h2 {
    font-size: 1.6rem;
  }

  .dashboard-content p {
    font-size: 1rem;
  }

  .birthday-img {
    max-width: 220px;
  }
}


